body {
  background-color: rgb(53, 51, 51);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
  overflow: hidden;
}

.main-container{
  display: flex;
  justify-content: center;
  min-height: 500px;
  min-width: 800px;
  border-radius: 30px;
box-shadow: 1px 2px 29px -4px rgba(0,0,0,0.73);
background-color: rgb(83, 79, 79);
  
}

.test-container {
  position: relative;
  display: flex;
  flex-direction: column;
background-color: rgb(83, 79, 79);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  min-height: 500px;
  min-width: 200px;
  width: 50%;

}
.test-container-2 {
  min-width: 20vw;
}

.hidden{
  display: none;
}

.video-crop{
  height: 50vh;
  max-width: 400px;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
    margin-inline: auto;

}

.video-crop video {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  border-radius: 20px;


}
#result {
  margin-top: 20px;
  font-weight: bold;
}

.options{
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.other-options{
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.other-options button{
  color: white;
  background-color: transparent;
  border: 1px solid rgb(170, 165, 165);
  border-radius: 10px;
  width: 100px;
  height: 35px;
  cursor: pointer;
  font-size: 1rem;
  transition: ease-in-out 0.2s;
}
.other-options button:hover{

  color: rgb(83, 79, 79);
  background-color: rgb(204, 199, 199);
  border: 1px solid rgb(204, 199, 199);
}
.other-options button:active{
  transition: none;
  transform: scale(1.02);
}

#next-btn{
  align-self: center;
  width: 100px;
  height: 50px;
  cursor: pointer;
  background-color: orange;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(63, 60, 60);
  border-radius: 5px;
  margin-block: auto;
}
#next-btn:hover{
  background-color: rgb(184, 135, 45);
}


.icon{
  width: 60px;
  height: auto;
  transition: transform 0.1s ease, color 0.1s ease;
  color: rgb(48, 46, 46);


}
.icon:hover {
  transform: scale(1.1);
  color: rgb(204, 199, 199);
  cursor: pointer;
}
#result {

font-size: 1.2rem;
color: black;
}

@media (max-width: 500px) {
  .test-container {
    width: 95vw;  /* almost full width on small screens */
    min-width: auto;  /* remove min-width constraint */
    padding: 15px;    /* reduce padding for small screens */
    height: 100%;     /* adjust height to content */
  }
  .video-crop{
    margin-inline: auto;
    margin-top: 3rem;
    
  }
}